# Folders with 3rd party software
utils/YALMIP-master/
utils/SDPT3-4.0/

# Outputs of the code generator
autogen/codegen/

# Autosave Matlab Files
*.m~


autogen/C_mtrx_fcn.m
autogen/F_vctr_fcn.m
autogen/G_vctr_fcn.m
autogen/load_regressor_UR10E.m
autogen/M_mtrx_fcn.m
autogen/standard_regressor_UR10E.m
dataset_ur10e/collision/ur-20_01_22-push_pose_1.csv
dataset_ur10e/collision/ur-20_01_22-push_pose_2.csv
dataset_ur10e/identification_data/ur-19_09_27-11_28_22.csv
dataset_ur10e/identification_data/ur-19_09_27-11_32_02.csv
dataset_ur10e/identification_data/ur-19_09_27-15_11_06.csv
dataset_ur10e/identification_data/ur-19_10_01-13_51_41.csv
dataset_ur10e/identification_data/ur-19_10_01-14_04_13.csv
dataset_ur10e/identification_data/ur-19_10_01-14_04_41.csv
dataset_ur10e/identification_data/ur-19_12_23_free.csv
dataset_ur10e/identification_data/ur-20_01_13-load_2600.csv
dataset_ur10e/identification_data/ur-20_01_31-load.csv
dataset_ur10e/identification_data/ur-20_01_31-unload.csv
dataset_ur10e/identification_data/ur-20_02_05-20sec_8harm.csv
dataset_ur10e/identification_data/ur-20_02_05-20sec_12harm.csv
dataset_ur10e/identification_data/ur-20_02_06-20sec_5harm.csv
dataset_ur10e/identification_data/ur-20_02_06-20sec_10harm.csv
dataset_ur10e/identification_data/ur-20_02_10-20sec_7harm.csv
dataset_ur10e/identification_data/ur-20_02_10-30sec_12harm.csv
dataset_ur10e/identification_data/ur-20_02_12-40sec_12harm.csv
dataset_ur10e/identification_data/ur-20_02_12-50sec_12harm.csv
dataset_ur10e/identification_data/ur-20_02_19_14harm50sec.csv
dataset_ur10e/identification_data/ur-20_02_19_14harm50secLoad.csv
dataset_ur10e/identification_data/ur-20_02_19_15harm50sec.csv
dataset_ur10e/identification_data/ur-20_02_19_15harm50secLoad.csv
dataset_ur10e/jointwise_motion/ur-20_01_22-joint_1.csv
dataset_ur10e/jointwise_motion/ur-20_01_22-joint_2.csv
dataset_ur10e/jointwise_motion/ur-20_01_22-joint_3.csv
dataset_ur10e/jointwise_motion/ur-20_01_22-joint_4.csv
dataset_ur10e/jointwise_motion/ur-20_01_22-joint_5.csv
dataset_ur10e/jointwise_motion/ur-20_01_22-joint_6.csv
dataset_ur10e/validation_data/ur-20_01_17-p1.csv
dataset_ur10e/validation_data/ur-20_01_17-p2.csv
dataset_ur10e/validation_data/ur-20_01_17-p3.csv
dataset_ur10e/validation_data/ur-20_01_17-p4.csv
dataset_ur10e/validation_data/ur-20_01_17-p5.csv
dataset_ur10e/validation_data/ur-20_01_17-p6.csv
dataset_ur10e/validation_data/ur-20_01_17-p7.csv
dataset_ur10e/validation_data/ur-20_01_17-p8.csv
dataset_ur10e/validation_data/ur-20_01_17-p9.csv
dataset_ur10e/validation_data/ur-20_01_17-p10.csv
dataset_ur10e/validation_data/ur-20_01_17-ptp_10_points.csv
dataset_ur10e/validation_data/vldtnTrjctrySttcs.mat
trajectory_optmzn/coeffs4_UR/a_coeffs.script
trajectory_optmzn/coeffs4_UR/b_coeffs.script
trajectory_optmzn/coeffs4_UR/c_coeffs.script
trajectory_optmzn/optimal_trjctrs/ga_N5T20.mat
trajectory_optmzn/optimal_trjctrs/ga_N7T20.mat
trajectory_optmzn/optimal_trjctrs/ga_N7T25.mat
trajectory_optmzn/optimal_trjctrs/opt_sltn_N3T5.mat
trajectory_optmzn/optimal_trjctrs/opt_sltn_N5T20.mat
trajectory_optmzn/optimal_trjctrs/opt_sltn1.mat
trajectory_optmzn/optimal_trjctrs/opt_sltn2.mat
trajectory_optmzn/optimal_trjctrs/opt_sltn3.mat
trajectory_optmzn/optimal_trjctrs/ptrnSrch_N3T2QR.mat
trajectory_optmzn/optimal_trjctrs/ptrnSrch_N5T20.mat
trajectory_optmzn/optimal_trjctrs/ptrnSrch_N5T20QR.mat
trajectory_optmzn/optimal_trjctrs/ptrnSrch_N6T20QR.mat
trajectory_optmzn/optimal_trjctrs/ptrnSrch_N7T20QR.mat
trajectory_optmzn/optimal_trjctrs/ptrnSrch_N7T25QR.mat
trajectory_optmzn/optimal_trjctrs/ptrnSrch_N8T20QR.mat
trajectory_optmzn/optimal_trjctrs/ptrnSrch_N10T20QR.mat
trajectory_optmzn/optimal_trjctrs/ptrnSrch_N12T20QR.mat
trajectory_optmzn/optimal_trjctrs/ptrnSrch_N12T30QR.mat
trajectory_optmzn/optimal_trjctrs/ptrnSrch_N12T40QR.mat
trajectory_optmzn/optimal_trjctrs/ptrnSrch_N12T40QR2.mat
trajectory_optmzn/optimal_trjctrs/ptrnSrch_N12T50QR.mat
trajectory_optmzn/optimal_trjctrs/ptrnSrch_N14T50QR.mat
trajectory_optmzn/optimal_trjctrs/ptrnSrch_N15T50QR.mat
URe/CHANGELOG.rst
URe/CMakeLists.txt
URe/package.xml
URe/cfg/view_robot.rviz
URe/launch/ur3e_upload.launch
URe/launch/ur5e_upload.launch
URe/launch/ur10e_upload.launch
URe/launch/view_ur3e.launch
URe/launch/view_ur5e.launch
URe/launch/view_ur10e.launch
URe/meshes/ur10e/collision/base.stl
URe/meshes/ur10e/collision/forearm.stl
URe/meshes/ur10e/collision/shoulder.stl
URe/meshes/ur10e/collision/upperarm.stl
URe/meshes/ur10e/collision/wrist1.stl
URe/meshes/ur10e/collision/wrist2.stl
URe/meshes/ur10e/collision/wrist3.stl
URe/meshes/ur10e/visual/base.dae
URe/meshes/ur10e/visual/forearm.dae
URe/meshes/ur10e/visual/shoulder.dae
URe/meshes/ur10e/visual/upperarm.dae
URe/meshes/ur10e/visual/wrist1.dae
URe/meshes/ur10e/visual/wrist2.dae
URe/meshes/ur10e/visual/wrist3.dae
URe/urdf/common.gazebo.xacro
URe/urdf/ur.gazebo.xacro
URe/urdf/ur.transmission.xacro
URe/urdf/ur3e_joint_limited_robot.urdf.xacro
URe/urdf/ur3e_robot.urdf.xacro
URe/urdf/ur3e.urdf.xacro
URe/urdf/ur5e_joint_limited_robot.urdf.xacro
URe/urdf/ur5e_robot.urdf.xacro
URe/urdf/ur5e.urdf.xacro
URe/urdf/ur10.urdf
URe/urdf/ur10e_joint_limited_robot.urdf.xacro
URe/urdf/ur10e_robot.urdf.xacro
URe/urdf/ur10e.urdf
URe/urdf/ur10e.urdf.xacro
URDF/RM65-6F/CMakeLists.txt
URDF/RM65-6F/export.log
URDF/RM65-6F/package.xml
URDF/RM65-6F/plot_robot_workspace.m
URDF/RM65-6F/config/joint_names_RM65-6F.yaml
URDF/RM65-6F/launch/display.launch
URDF/RM65-6F/launch/gazebo.launch
URDF/RM65-6F/meshes/base_link.STL
URDF/RM65-6F/meshes/link_1.STL
URDF/RM65-6F/meshes/link_2.STL
URDF/RM65-6F/meshes/link_3.STL
URDF/RM65-6F/meshes/link_4.STL
URDF/RM65-6F/meshes/link_5.STL
URDF/RM65-6F/meshes/link_6.STL
URDF/RM65-6F/urdf/RM65-6F.csv
URDF/RM65-6F/urdf/RM65-6F.urdf
URDF/RM65-6FB/CMakeLists.txt
URDF/RM65-6FB/export.log
URDF/RM65-6FB/package.xml
URDF/RM65-6FB/plot_robot_workspace.m
URDF/RM65-6FB/config/joint_names_RM65-6FB.yaml
URDF/RM65-6FB/launch/display.launch
URDF/RM65-6FB/launch/gazebo.launch
URDF/RM65-6FB/meshes/base_link.STL
URDF/RM65-6FB/meshes/link_1.STL
URDF/RM65-6FB/meshes/link_2.STL
URDF/RM65-6FB/meshes/link_3.STL
URDF/RM65-6FB/meshes/link_4.STL
URDF/RM65-6FB/meshes/link_5.STL
URDF/RM65-6FB/meshes/link_6.STL
URDF/RM65-6FB/urdf/RM65-6FB.csv
URDF/RM65-6FB/urdf/RM65-6FB.urdf
Simscape/slprj/sl_proj.tmw
Simscape/slprj/modeladvisor/my_XM7p/ModelAdvisorData
Simscape/slprj/modeladvisor/my_XM7p/report.html
Simscape/slprj/sim/varcache/RM65_6FB/checksumOfCache.mat
Simscape/slprj/sim/varcache/RM65_6FB/varInfo.mat
Simscape/slprj/sim/varcache/RM65_6FB/tmwinternal/simulink_cache.xml
Simscape/slprj/sim/varcache/XM7p_new/checksumOfCache.mat
Simscape/slprj/sim/varcache/XM7p_new/varInfo.mat
Simscape/slprj/sim/varcache/XM7p_new/tmwinternal/simulink_cache.xml
Simscape/slprj/sim/varcache/my_XM7p/checksumOfCache.mat
Simscape/slprj/sim/varcache/my_XM7p/varInfo.mat
Simscape/slprj/sim/varcache/my_XM7p/tmwinternal/simulink_cache.xml
slprj/sim/varcache/RM65_6FB/checksumOfCache.mat
slprj/sim/varcache/RM65_6FB/varInfo.mat
slprj/sim/varcache/RM65_6FB/tmwinternal/simulink_cache.xml
slprj/_jitprj/jitEngineAccessInfo.mat
slprj/_jitprj/s2sqYvdwnhxtbV6nwBtdgwF.l
slprj/_jitprj/s2sqYvdwnhxtbV6nwBtdgwF.mat
slprj/_sfprj/Dynamic_Sim/amsi_serial.mat
slprj/_sfprj/Dynamic_Sim/_self/sfun/info/binfo.mat
slprj/_sfprj/EMLReport/emlReportAccessInfo.mat
slprj/_sfprj/EMLReport/Niiw8fW6gyPZpFNzdXZFOH.mat
slprj/_sfprj/EMLReport/s2sqYvdwnhxtbV6nwBtdgwF.mat
slprj/_sfprj/precompile/9fbXYjqopY67F75qQUOklB.mat
slprj/_sfprj/precompile/autoInferAccessInfo.mat
slprj/_sfprj/precompile/kL57PGb2DLEPbwZq2EQFLH.mat
slprj/sim/varcache/Dynamic_Sim/checksumOfCache.mat
slprj/sim/varcache/Dynamic_Sim/varInfo.mat
slprj/sim/varcache/Dynamic_Sim/tmwinternal/simulink_cache.xml
slprj/_jitprj/sA6GoFFJjzSy7da4z8Ghv3.l
slprj/_jitprj/sA6GoFFJjzSy7da4z8Ghv3.mat
slprj/_jitprj/snxuHcrU38AU6Ds1rLRoIMD.l
slprj/_jitprj/snxuHcrU38AU6Ds1rLRoIMD.mat
slprj/_sfprj/EMLReport/sA6GoFFJjzSy7da4z8Ghv3.mat
slprj/_sfprj/EMLReport/snxuHcrU38AU6Ds1rLRoIMD.mat
slprj/_sfprj/precompile/pK7U8gtXc7taM5bd7TB2FC.mat
slprj/_sfprj/precompile/yEj3Jh2bViGMdd1ALI322E.mat
